<div class="col-4 offset-8 bg-light rounded-left">
  <header style="border-bottom: 1px solid lightgray;">
    <div class="row">
      <div class="col-2">
        <app-avatar [url]='avatar'></app-avatar>
      </div>
      <div class="col-10">
        <span [innerHTML] = "writeUser(userName !== undefined) | toBold"></span>
      </div>
    </div>
    <div class="row">
      <span [innerHTML]="date | dateToStr | send"></span>
    </div>
  </header>

  <main class="row">
    <p [innerHTML]="content | backToBr"></p>
  </main>
</div>
