<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/messenger.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ChatID
  </a>
  <div *ngIf="!logged">
    <a [routerLink]="['/login']" class="mr-2"> Se connecter</a>
    <a [routerLink]="['/register']">S'inscrire</a>
  </div>
  <!--on passe par un évènement car on veux just recharger une partie de la page-->
  <div *ngIf="logged">
    <span class="mr-2">{{connectedUser}}</span>
    <a href="#" (click)="disconnect($event)">Se déconnecter</a>
  </div>
</nav>
