<app-menu [logged]="true"></app-menu>
<div class="container mt-3">
  <!--on boucle sur le tableau de messages-->
  <div *ngIf="storeService.messages.length === 0" class="row">
    <div class="col-12">
      <div class="alert alert-secondary">
        Vous n'avez aucun message dans cette room !!
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let message of storeService.messages">
      <app-message [avatar]="message.avatar"
                   [userName]="message.userName"
                   [firstName]="message.firstName"
                   [lastName]="message.lastName"
                   [content]="message.content"
                   [date]="message.date"
                   [side]="message.side"></app-message>
  </div>
  <div class="row">
    <app-message-form class="col-12 p-0"></app-message-form>
  </div>
</div>
